html, button, input, select, textarea {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #aaa;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

body {
   background-image: url('img/bgd.jpg');
   background-repeat: no-repeat;
   background-size: cover; 
   background-color: #000;
    color: #222;
    display: flex;
   justify-content: center;
   align-items: center;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    width: 50rem;
}

textarea, input {
    outline: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

.leftside {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10rem;
    height: 20vh;
    background-color: transparent;
    background-image: radial-gradient(#444 5%, #555 15%, transparent 60%);
} 

img {
   height: 20vh;
}

.names,.contacts,.passwords {
    display: flex;
    flex-direction: row;
} 

input {
    border: 1px solid #000;
    padding: 1rex;
    margin: 1rem;
}

.createaccount {
    font-size: large;
    color: #596D48;
    padding: 2rex;

}

button {
    font-size: large;
    background-color: #596D48;
    padding: 1rex;
    font-size: xx-large;
    cursor: pointer;
}


@font-face {
    font-family: odinfont;
    src: url(fonts/Norse-Bold.otf);
  }

.odin-text {
    font-family: odinfont;
    color: #aaa;
    font-size: 10rex;
}

.header-text {
    /* width: 50rem; */
    font-size: 1.5rem;
    font-weight: bold;
}