body {
   background-image: url('bgd.jpg');
   background-repeat: no-repeat;
   background-size: cover;
    color: #aaa;
    display: flex;
   justify-content: center;
   align-items: center;
    /* width: 80vw;
    height: 100vh; */
    /* margin: 0 auto; */
    /* gap: 5rem; */
}

.leftside {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2rem;
    height: 10vh;
    /* width: 25vw; */
    background-color: #333;
    /* width: auto; */
}


.rightside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* padding-top: 20vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto; */
    background-color: #fff;
    text-align: left;
}

img {
   height: 10vh;
}

.names,.contacts,.passwords {
    display: flex;
    flex-direction: row;
}

/* form {
    padding: 20vh 5vh;
    height: inherit;
} */