body {
   background-image: url('bgd.jpg');
   background-repeat: no-repeat;
   background-size: cover;
    color: #aaa;
    display: flex;
    width: 80vw;
    height: 100vh;
    margin: auto;
    gap: 5rem;
}

.leftside {
    display: flex;
    align-items: center;
    margin: auto;
    width: 35%;
    background-color: #333;
    width: 100%;
}


.rightside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 20vh;
    padding-left: 2rem;
    padding-right: auto;
    margin: auto;
    background-color: #fff;
    text-align: left;
}

img {
    width: 10vh;
    height: 15vh;
}

.names,.contacts,.passwords {
    display: flex;
    flex-direction: row;
}